{% assign n = site.data.ioling.contests.size | minus: 1%}

The following table presents a summary of the participation in the first {{ site.data.ioling.numbers[n].cardinal_lowercase }} instalments of the IOL ({{ site.data.ioling.contests.first.year }}-{{ site.data.ioling.contests.last.year }}): 

<table width="100%">
	<thead>
		<tr>
			<th>Year</th>
			<th>Host city</th>
			<th>Countries</th>
			<th>Teams</th>
			<th>Participants</th>
		</tr>
	</thead>
	<tbody>
		{% for contest_item in site.data.ioling.contests %}
		<tr>
			<td>{{ contest_item.year }}</td>
			<td>{{ contest_item.city }}, {{ contest_item.country }}</td>
			<td>{{ contest_item.number_of_countries }}</td>
			<td>{{ contest_item.number_of_teams }}</td>
			<td>{{ contest_item.number_of_participants }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

Teams from these 41 countries have participated in at least one of the first {{ site.data.ioling.numbers[n].cardinal_lowercase }} IOLs: Australia, Bangladesh, Brazil, Bulgaria, Canada, China, Czechia, Estonia, Finland, France, Germany, Greece, Hungary, India, Ireland, Isle of Man, Israel, Japan, Kazakhstan, Latvia, Lithuania, Netherlands, Norway, Pakistan, Poland, Republic of Korea, Romania, Russia, Serbia, Singapore, Slovenia, Spain, Sri Lanka, Sweden, Taiwan, Turkey, UK, USA, Ukraine, United Arab Emirates, and Vietnam.