{% assign contest_meta = site.data.ioling.contests | where: "year", include.year | first %}
{% assign nth = site.data.ioling.numbers | where: "n", contest_meta.number | first %}

Total {{ contest_meta.number_of_participants }} contestants of {{ contest_meta.number_of_teams }} teams represented {{ contest_meta.number_of_countries }} countries/regions at the {{ nth.ordinal_uppercase }} {{ contest_meta.title }}.

<nav id="pagination">
    <a class="button radius" href="/{{ include.year }}">Summary &raquo;</a>
    <a class="button radius" href="/results/{{ include.year }}">Full Results &raquo;</a>
    <a class="button radius" href="/problems/{{ include.year }}">Problems &raquo;</a>
<!--     <a class="button radius" href="/results/{{ include.year }}">Gallery &raquo;</a>
 -->  
</nav>

{% assign participants_list = site.data.ioling.participants | where: "year", include.year | first %}

<button href="#" data-dropdown="drop1" aria-controls="drop1" aria-expanded="false" class="button dropdown">Select a region</button><br>
<ul id="drop1" data-dropdown-content class="f-dropdown" aria-hidden="true">
{% for country_item in participants_list.countries %}
<li><a href="#{{ country_item.country }}">{{ country_item.country }}</a></li>
{% endfor %}
</ul>

{% for country_item in participants_list.countries %}
{% assign flag_country = site.data.ioling.countries | where: "iol_name", country_item.country | first %}
<h3><a name="{{ country_item.country }}" href="/{{ country_item.country }}"><img class="tinyflag" alt="Flag" src="/images/flags/{{ flag_country.flag }}" /> {{ country_item.country }}</a></h3>
<div class="row">
{% for team_item in country_item.teams %}
<div class="medium-6 columns">
<table width="100%">
	<thead>
		<tr>
			<th>{{ team_item.team }}</th>
		</tr>
	</thead>
	<tbody>
		{% for participant_item in team_item.participants %}
		<tr bgcolor="#FFFFFF">
			<td>{{ participant_item.name }}
				{% if participant_item.medal == 'gold' %}
				🥇
				{% endif %}
				{% if participant_item.medal == 'silver' %}
				🥈
				{% endif %}
				{% if participant_item.medal == 'bronze' %}
				🥉
				{% endif %}
				{% if participant_item.medal == 'honorable mentions' %}
				<img class="tinyflag" alt="Flag" src="/images/hm.png" />
				{% endif %}
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
</div>
{% endfor %}
</div>
{% endfor %}