<button href="#" data-dropdown="drop1" aria-controls="drop1" aria-expanded="false" class="button dropdown">Select a year</button><br>
<ul id="drop1" data-dropdown-content class="f-dropdown" aria-hidden="true">
  {% for contest_item in site.data.ioling.contests %}
  <li><a href="/problems/by_year/#{{ contest_item.number }}">{{ contest_item.city }} {{ contest_item.year }}</a></li>
  {% endfor %}
</ul>

{% for contest_item in site.data.ioling.contests %}
{% assign individual_problems = site.data.ioling.problems | where: "year", contest_item.year | where: "round", "Individual" %}
{% assign team_problems = site.data.ioling.problems | where: "year", contest_item.year | where: "round", "Team" %}

<div class="panel radius t30">
<h3><a name="{{ contest_item.number }}" href="/problems/{{ contest_item.year }}/">{{ contest_item.city }} {{ contest_item.year }}</a></h3>
</div>
<div class="row">
<div class="medium-6 columns">
<h4>Individual Contest</h4>
<ol>
{% for problem_item in individual_problems %}
<li><a href="/problems/{{ contest_item.year }}/i{{ problem_item.number }}/">{{ problem_item.name }}</a></li>
{% endfor %}
</ol>
</div>
<div class="medium-6 columns">
<h4>Team Contest</h4>
<ol>
{% for problem_item in team_problems %}
<li><a href="/problems/{{ contest_item.year }}/t{{ problem_item.number }}/">{{ problem_item.name }}</a></li>
{% endfor %}
</ol>
</div>
</div>
{% endfor %}